watch_file .tool-versions

asdf_has helm | asdf plugin add helm
asdf_has helmfile | asdf plugin add helmfile
asdf_has istioctl | asdf plugin add istioctl
asdf_has kubectl | asdf plugin add kubectl
asdf_has minikube | asdf plugin add minikube
asdf install | sed '/is already installed/d'
use asdf

